body {
	margin: 0;
	padding: 0;
}
div#body {
	float: left;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
h1#game {
	text-align: center;
}
p {
  display: block;
  float: left;
  clear: both;
}
ul {
  display: block;
  float: left;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
	width: 100%;
}
ul li {
  display: block;
  float: left;
	clear: left;
  padding: 0;
  margin: 0 1px;
	width: 100%;
}
ul li a img {
  width: 16px;
  vertical-align: middle;
  margin: 2px 4px 2px -16px;
  border: 1px black solid;
}
ul li a img.addword {
	z-index: 10;
	position: relative;
	left: 3.8em;
	 float: left;
	top: 1.3em;
	border: none;
	cursor: pointer;
}
ul li a img.addword:hover {
	opacity: 1;
}
ul li a img.addword.bottom {
	top: -1.15em;;
}
ul li a div.no-user {
  height: 16px;
  vertical-align: middle;
  margin: 2px 4px;
	display: inline-block;
}
div.ladder-container {
	border-right: 1px grey dashed;
	text-align: center;
	display: block;
	float: left;
	vertical-align: top;
}
div.ladder-width {
	width: 8em;
	height: 0;
}
div#bottom-ladder ul {
	display: inline-block;
	float: none;
	vertical-align: bottom;
}
div.ladder-container {
	margin: 1em 0;
}
div#top-ladder {
	float: left;
	width: 200%;
	position: relative;	
}
div#bottom-ladder {
	float: left;
	with: 200%;
	position: relative;
}
ul#scores {
  border: 1px grey solid;
  z-index: 1000;
  position: absolute;
  top: 30px;
  right: 0;
  padding: 10px;
  margin: 0 4px;
  -moz-border-radius: 5px;
  display: block;
	background: white;
	width: 30%;
}
ul#scores li {
  display: block;
  float: left;
  clear: left;
	margin-bottom: 2px;
}
ul#scores li img {
  width: 32px;
  vertical-align: middle;
  margin-left: 0px;
}
[bottom] {
  clear: left;
}
input {
  width: 8em;
}
form {
  margin: 0 1px;
	padding: 0;
	width: 100%;
}

.hidden {
  visibility: hidden;
}

.move {
	-moz-box-shadow: 2px 2px 2px gray;
  -webkit-box-shadow: 2px 2px 2px gray;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: none repeat scroll 0 0 white;
  border: 1px solid gray;
  display: block;
  margin: 0.3em auto;
  padding: 0;
  position: relative;
  width: 80%;
}
.timestamp {
  display: none;
}

.win {
	-moz-box-shadow: 4px 4px 4px gray;
	-webkit-box-shadow: 4px 4px 4px gray;
	border: 2px solid darkgreen;
	padding: 0.1em;
}

div.WireIt-Terminal {
  background: none;
}

canvas.WireIt-Wire {
  z-index: -1;
}

#playinfo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 90%;
  overflow: auto;
  overflow-x: auto;
	display: none;
}

.log {
  padding: 0.25em;
}
