$def with(game)
$code
	def finished():
		if game.done:
			return "(finished)"
		return ""
	def lasttenmoves(g):
		return [g.moves[i] for i in sorted(g.moves.keys(), reverse=True)[:10]]
	def shortest(g):
		return g.shortestChainLength()
$def form(m):
	$if not game.done:
		<form method="POST" action=""><input type="hidden" name="moveid" value="$m.id"><input type="text" name="word" autocomplete="off" autocorrect="off" autocapitalize="off"></input></form>
	$else:
		<div class="placeholder"></div>
$def word(m, w):
		<a id="m${m.id}" class="move$(m.id in game.winningchain and ' win' or '')">
		$if m.user:
			<img src="$m.user.picture" alt="$m.user.username" title="$m.user.username" />
		$else:
			<div class="no-user"></div>
		$w
		</a>
$def ts(t):
	<span class="timestamp">$t</span>
$def move(m, s):
	<ul>
	$if not m.bottom:
		<li>
		$:word(m, m.word) $:ts(m.played) $:form(m)
	$if m.children:
		$for c in m.children:
			$:move(c, False)
		</li>
	$if m.bottom:
		<li bottom>$:word(m, m.word) $:form(m)</li>
	</ul>
$def plays():
	$for m in lasttenmoves(game):
		$if m.hasValidUser:
			<span class="log">$m.user played $m.word</span>
		$else:
			<span class="log">unknown user played $m.word</span>
$var title: $game.start &rarr; $game.end $finished()
$var css: /static/css/game.css
$var js: /static/js/jquery.periodicalupdater.js /static/js/jquery.shake.js /static/js/game.js /static/js/wire.js
<h1 id="game">$game.start &rarr; $game.end $finished()</h1>
$if game.done:
	<ul id="scores">
		$for s in game.scores():
			<li><img src="$game.scores()[s]['picture']" alt="" title="" border="0" height="32" /> $game.scores()[s]['username'] earned $game.scores()[s]['score'] points</li>
	</ul>
$:move(game.moves[1], True)
<br style="clear: left">
$:move(game.moves[2], True)
<p><a href="/">Back to game list</a>
<div id="playinfo">$:plays()</div>
<script type="text/javascript">
var lastmove = $game.lastmove;
var done = $(game.done and "true" or "false");
$for u in game.users:
	users['$(u)'] = {'username': '$:game.users[u].username', 'picture': '$:game.users[u].picture'};
$if game.done:
	var winningchain = $(dump_json(game.done and game.winningchain or []));
	var scores = $:(game.done and dump_json(game.score) or {});
$for m in game.moves.values():
	$for c in m.children:
		addLink($m.id, $c.id, '$((m.id in game.winningchain and c.id in game.winningchain) and 'red' or 'blue')');
$if game.done:
	addLink($game.lastmove, $(filter(lambda m: m.id != game.lastmove and m.word == game.moves[game.lastmove].word, game.moves.values())[0].id), 'red');
</script>
