$def with(games, user)
$def gamelist(gl, active):
  <ul>
    $for k, g in gl.iteritems():
      $if g.done != active:
        <li><a href="/game/$k">$g.start &rarr; $g.end (${len(g.moves)} moves)</a>
  </ul>
<!DOCTYPE html>
<html><head><title>Word Ladder</title>
<link rel="icon" href="/static/favicon.png">
<meta name="viewport" content="width = device-width">
</head>
<body>
$if not user:
	<h2>Login</h2>
	<form method="post" action="/user/login">
	  <label for="openid">Open ID: <input type="text" name="openid" id="openid" value="" /></label>
	  <input type="hidden" name="return_to" value="/" />
	  <button type="submit">Login</button>
	</form>
$elif user.isAnonymous():
  <h2>Welcome to Word Ladder!</h2>
  <p>You are anonymous user <span class="username">$user</span>.</p>
  <p>To save your score and be able to use all of the game's functions, log in with OpenID:</p>
  <form method="post" action="/user/login">
	  <label for="openid">Open ID: <input type="text" name="openid" id="openid" value="" /></label>
	  <input type="hidden" name="return_to" value="/" />
	  <button type="submit">Login</button>
	</form>
$else:
  <h2>You are logged in as <span class="username">$user</span></h2>
  <form method="post" action="/user/logout">
    <img src="http://openid.net/login-bg.gif" alt="OpenID" />
    <strong>$user.openid</strong>
    <input type="hidden" name="action" value="logout" />
    <input type="hidden" name="return_to" value="/" />
    <button type="submit">Logout</button>
  </form>
  $if user.username:
    <p>Your username is <span class="username"><a href="/user/account" title="Manage your account">$user.username</a></span>.</p>
  $else:
    <p>You have not chosen a username yet. You can choose one using the form below.</p>
    <form action="/user/account" method="post">
      <label for="username">Username: <input type="text" name="username" id="username" size="23" maxlength="32" /></label>
      <input type="hidden" name="return_to" value="/" />
      <button type="submit">Set Username</button>
    </form>
<h1>Active Games:</h1>
$:gamelist(games, True)
<h2>Finished Games:</h2>
$:gamelist(games, False)
<a href="new">New Game</a>
</body>
</html>
