$def with(games, user)
$def gamelist(gl, active):
  <ul>
    $for g in gl:
      $if g.done != active:
        <li><a href="/game/$g.key().name()">$g.start.word &rarr; $g.end.word</a>
  </ul>
<!DOCTYPE html>
<html><head><title>Word Ladder</title>
<link rel="icon" href="/static/favicon.png">
<meta name="viewport" content="width = device-width">
</head>
<body>
$if user:
	<p>Hi, $user.username! [<a href="/user/logout">Log out</a>]</p>
	$if user.services:
		<p>Your accounts:</p>
		<ul>
		$for s in user.services:
			<li><a href="$s.url">$s.name</a></li>
		</ul>
$else:
	<p>[<a href="/user/login/facebook">Facebook Login</a>]</p>
<h1>Active Games:</h1>
$:gamelist(games, True)
<h2>Finished Games:</h2>
$:gamelist(games, False)
<a href="new">New Game</a>
</body>
</html>
