$def with(games, user)
$def gamelist(gl, active):
  <ul>
    $for g in gl:
      $if g.done != active:
        <li><a href="/game/$g.key().name()">$g.start.word &rarr; $g.end.word</a>
  </ul>
<!DOCTYPE html>
<html><head><title>Word Ladder</title>
<link rel="icon" href="/static/favicon.png">
<meta name="viewport" content="width = device-width">
</head>
<body>
$if user:
	<h1>Hi,
	$if user.isAnonymous():
		<a href="/user/account">$str(user)</a>!</h1>
		<p>[<a href="/user/login/facebook">Facebook Login</a>] [<a href="/user/login/google">Google Buzz Login</a>]</p>
	$else:
		$if user.picture:
			<img src="$user.picture" border="0" height="50" alt="$str(user)" /> <a href="/user/account">$str(user)</a>!</h1>
		$else:
			<a href="/user/account">$str(user)</a>!</h1>
		<p>[<a href="/user/logout">Log out</a>]</p>
		<p>Your accounts:</p>
		<ul>
		$for s in user.services:
			<li>
			$if s.picture:
				<img src="$s.picture" border="0" height="50" alt="$str(user) on $s.name" />
			<a href="$s.url">$s.name</a></li>
		</ul>
$else:
	<p>[<a href="/user/login/facebook">Facebook Login</a>] [<a href="/user/login/google">Google Buzz Login</a>]</p>
<h1>Active Games:</h1>
$:gamelist(games, True)
<h2>Finished Games:</h2>
$:gamelist(games, False)
<a href="new">New Game</a>
</body>
</html>
